/* Start Navbar */
nav .navbar-brand {
    margin-right: 80px;
}

nav .navbar-brand img {
    width: 100px;
    height: 40px;
}

nav.navbar {
    background-color: var(--white-color);
}

nav .container-fluid {
    padding-left: 70px;
    padding-right: 30px;
}

nav .navbar-toggler {
    border: none !important;
    border-radius: none !important;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

nav .navbar__toggler-icon {
    padding: 6px 10px;
    border-radius: 50%;
    background-color: #f2f3f7;
    color: var(--sub-color);
    transition: background-color var(--main-transition),
        color var(--main-transition);
}

nav .navbar__toggler-icon span {
    font-size: 1rem;
}

nav .navbar-toggler:hover .navbar__toggler-icon,
nav .navbar-toggler:focus .navbar__toggler-icon {
    background-color: var(--main-color);
    color: var(--white-color);
}

nav .navbar-collapse form {
    border-left: 1px solid var(--border-color);
    padding-left: 27px
}

nav .navbar-collapse form input[type=search] {
    color: var(--sub-color);
    background-color: rgba(150, 163, 182, 0.1);
    font-size: 1rem;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: none;
}

nav .form-control:focus {
    box-shadow: none !important;
}

nav .navbar-collapse form button {
    border: none !important;
    background-color: rgba(150, 163, 182, 0.1) !important;
    border-radius: 5px 0 0 5px;
    padding-block: 0.375rem;
    padding-inline: 0.75rem 3px;
}

nav .navbar-collapse form button div {
    color: #858585;
}

nav .navbar-collapse form button div span {
    font-size: 1rem;
}

.navbar__form__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-left: 1px solid #f9f9f9; */
    background-color: rgba(150, 163, 182, 0.1);
    color: var(--gray-color);
    border-radius: 50%;
    width: 50px;
    margin-right: 0.75rem;
    cursor: pointer;
    line-height: 0 !important;
    transition: background-color var(--main-transition),
        color var(--main-transition);
}

.navbar__form__icon:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.navbar__form__icon span {
    font-size: 18px;
}

nav .nav-link {
    color: var(--main-color);
}

.nav-item__profile,
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 300;
}

.nav-link-setting,
.nav-link-notfication {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f3f7;
    color: var(--main-color);
    border-radius: 20px;
    gap: 7px;
    padding-inline: 12px !important;
    transition: background-color var(--main-transition),
        color var(--main-transition);
}

.nav-link-setting:hover,
.nav-link-notfication:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.nav-link-setting div img,
.nav-link-notfication div img {
    transition: filter var(--main-transition);
}

.nav-link-setting:hover div img,
.nav-link-notfication:hover div img {
    /* 3shan el img bet3to */
    filter: invert(0) sepia(0) saturate(14) hue-rotate(195deg);
}

.nav-link-setting div,
.nav-link-notfication div {
    font-weight: 400;
}

.nav-link-setting div img,
.nav-link-notfication div img {
    /* 3shan el img bet3to */
    /* rag3 el filter */
    filter: invert(0.6) sepia(1) saturate(1) hue-rotate(185deg);
    width: 20px;
}

.nav-item__profile__img {
    width: 36px;
    margin-right: 5px;
}

@media (max-width: 991px) {
    nav .navbar-collapse form {
        display: none !important;
    }

    nav .navbar-collapse .navbar-nav {
        flex-direction: row !important;
        justify-content: flex-end !important;
        gap: 10px !important;
    }
}

/* End Navbar */